@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    color: white;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    width: 800px;
    height: 50vh;
    border-radius: 5px;
}

.second {
    font-family: "Inter", sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;

}

.third {

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    height: 25vh;
    padding: 20px 0px 0px 30px;
}

.four {


    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 5px;

}

.four p {
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
}

.image {
    width: 400px;

    background: url(image-header-desktop.jpg) center/cover no-repeat;
    background-size: 100% 100%;

    position: relative;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 9, 129, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color:black;
}

span {
    color: hsl(277, 64%, 61%);
}

p {
    font-size: x-small;
    font-weight: 400;
   color:  hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}
.four p{color:hsla(0, 0%, 100%, 0.6);font-weight: 200;  font-size: x-small;}
.txt {
    width: 250px;
}

.tit {
    width: 270px;
}
